In [43]:
from IPython.display import display, Markdown, HTML
import pandas as pd
import numpy as np

import fastf1 as ff1
from scrape.core import get_session

ff1.Cache.enable_cache("./data/cache")

YEAR = 2022
RACE = "Austria"

session = get_session(YEAR, RACE, "Race")
session.load(telemetry=True, laps=True, messages=True, weather=False)

core           INFO 	Loading data for Austrian Grand Prix - Race [v2.2.9]
api            INFO 	Using cached data for driver_info
api            INFO 	Using cached data for timing_data
api            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
api            INFO 	Using cached data for session_status_data
api            INFO 	Using cached data for track_status_data
api            INFO 	Using cached data for car_data
api            INFO 	Using cached data for position_data
api            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['16', '1', '44', '63', '31', '47', '4', '20', '3', '14', '77', '23', '18', '24', '10', '22', '5', '55', '6', '11']
api            INFO 	Using cached data for get_timing_data
session        INFO 	Processing timing data...
api            INFO 	Using cached data for track_status_data

In [7]:
from scrape.core.driver import get_drivers
drivers = get_drivers(2022)

def get_test_stuff():
    with open("./notebooks/test.txt") as f:
        lines = f.readlines()

    woo = {}
    for l in lines:
        parts = l.strip().split(" ")
        lap_number = parts[1]
        driver_name = parts[2]
        passed_name = parts[4]
        position = parts[-1]

        driver = drivers[drivers["LastName"] == driver_name].iloc[0]
        passed = drivers[drivers["LastName"] == passed_name].iloc[0]
        driver_number = driver["DriverNumber"]

        if driver_number not in woo:
            woo[driver_number] = []
        woo[driver_number].append((lap_number, passed["Code"], position))
    return woo


display(get_test_stuff())

{'22': [('2', 'ZHO', '14'), ('32', 'LAT', '16')],
 '14': [('2', 'VET', '17'),
  ('24', 'ZHO', '8'),
  ('24', 'ZHO', '9'),
  ('32', 'LAT', '17'),
  ('33', 'TSU', '16'),
  ('40', 'STR', '12'),
  ('61', 'STR', '13'),
  ('62', 'GAS', '12'),
  ('67', 'ALB', '11'),
  ('70', 'BOT', '10')],
 '24': [('2', 'TSU', '14'),
  ('24', 'ALO', '9'),
  ('32', 'LAT', '18'),
  ('37', 'TSU', '17'),
  ('50', 'VET', '17'),
  ('54', 'TSU', '16'),
  ('67', 'GAS', '14')],
 '47': [('4', 'HAM', '7'),
  ('19', 'RIC', '13'),
  ('24', 'ZHO', '11'),
  ('25', 'ALO', '10'),
  ('27', 'NOR', '8'),
  ('32', 'MAG', '6'),
  ('45', 'STR', '8'),
  ('47', 'STR', '8')],
 '4': [('5', 'RIC', '9'),
  ('24', 'ALO', '9'),
  ('24', 'ZHO', '10'),
  ('41', 'MAG', '7'),
  ('46', 'TSU', '12'),
  ('62', 'MAG', '7')],
 '16': [('12', 'VER', '1'), ('33', 'VER', '1'), ('53', 'VER', '1')],
 '77': [('13', 'GAS', '16'), ('64', 'ALB', '10')],
 '44': [('14', 'MSC', '5'), ('15', 'MAG', '4'), ('30', 'OCO', '4')],
 '10': [('15', 'BOT', '16')],
 '63': [('15', 'LAT', '18'),
  ('17', 'BOT', '17'),
  ('21', 'GAS', '15'),
  ('24', 'ALB', '13'),
  ('29', 'RIC', '10'),
  ('42', 'ZHO', '11'),
  ('44', 'STR', '8'),
  ('44', 'MSC', '9'),
  ('54', 'ALO', '6'),
  ('61', 'OCO', '4')],
 '1': [('16', 'MSC', '5'), ('18', 'HAM', '3')],
 '31': [('20', 'VET', '9'),
  ('22', 'ZHO', '7'),
  ('23', 'TSU', '6'),
  ('52', 'ALO', '5')],
 '20': [('24', 'ZHO', '8'),
  ('24', 'ALO', '9'),
  ('26', 'TSU', '7'),
  ('44', 'ZHO', '11'),
  ('47', 'STR', '9')],
 '5': [('30', 'LAT', '15'),
  ('37', 'BOT', '13'),
  ('39', 'GAS', '12'),
  ('67', 'TSU', '16')],
 '23': [('44', 'VET', '15')],
 '18': [('45', 'MSC', '8'), ('64', 'GAS', '13')]}

In [4]:
from scrape.core import get_drivers
from scrape.core.driver import add_driver_code
from scrape.race import get_driver_overtakes
from scrape.race.timing import get_timing_data, add_lap_number_to_timing_data, merge_leader_lap
from scrape.race.overtake import (
    __get_position_changes,
    __get_driver_position_changes,
)

DRIVER = "22"

# TODO: DriverCode should just be named Driver (like ff1.core.Lap)

drivers = get_drivers(YEAR)
timing = get_timing_data(session)

driver_laps = session.laps.pick_driver(DRIVER)
position_changes = __get_position_changes(session.laps, timing)

overtakes = get_driver_overtakes(session, DRIVER, timing, position_changes)
overtakes = add_driver_code(overtakes, drivers)
overtakes = add_driver_code(overtakes, drivers, suffix="Behind")
overtakes = add_driver_code(overtakes, drivers, suffix="Ahead")
overtakes["LapNumber"] = overtakes["LapNumber"].astype("int64")
overtakes = overtakes.sort_values(by="LapNumber")
overtakes = overtakes[
    ["Time", "LapNumber", "PassingStatus", "Code", "Position", "CodeBehind", "CodeAhead"]
]
overtakes_filtered = overtakes[overtakes["PassingStatus"].isnull()]
display(overtakes_filtered)
display(overtakes)

drv_position_changes = position_changes.query(f'DriverNumber == "{DRIVER}"').reset_index(drop=True)
drv_position_changes = add_driver_code(drv_position_changes, drivers)
drv_position_changes = add_driver_code(drv_position_changes, drivers, suffix="Behind")
drv_position_changes = add_driver_code(drv_position_changes, drivers, suffix="Ahead")
drv_position_changes = add_driver_code(drv_position_changes, drivers, suffix="Passed")
# drv_position_changes["Time"] = position_changes["Time"].astype('timedelta64[s]')
drv_position_changes = drv_position_changes[
    [
        "Time",
        "LapNumber",
        "Code",
        "CodePassed",
        "Position",
        "PositionBefore",
        "PositionGained",
        "CodeBehind",
        "CodeAhead",
    ]
]

from scrape.data import df_timedelta_to_string

display(
    merge_leader_lap(driver_laps, session.laps, timing)[
        [
            "Time",
            "LapTime",
            "LapNumber",
            "LapLeader",
            "LapStartTime",
            "PitInTime",
            "PitOutTime",
            "Sector1Time",
            "Sector2Time",
            "Sector3Time",
            "Sector1SessionTime",
            "Sector2SessionTime",
            "Sector3SessionTime",
        ]
    ]
    .rename(
        {
            "Sector1SessionTime": "S1SessTime",
            "Sector2SessionTime": "S2SessTime",
            "Sector3SessionTime": "S3SessTime",
        }
    )
    .apply(df_timedelta_to_string, axis=1)
    .astype(str)
    .iloc[45:50]
)


display(drv_position_changes)

api            INFO 	Using cached data for timing_data

,Time,LapNumber,PassingStatus,Code,Position,CodeBehind,CodeAhead
1,0 days 01:04:00.967000,2,NaN,TSU,14,ZHO,ALB
6,0 days 01:17:29.953000,13,NaN,TSU,10,ZHO,STR
12,0 days 01:40:19.316000,32,NaN,TSU,16,LAT,STR

,Time,LapNumber,PassingStatus,Code,Position,CodeBehind,CodeAhead
0,0 days 01:03:50.038000,2,Duplicate,TSU,14,ZHO,ALB
1,0 days 01:04:00.967000,2,NaN,TSU,14,ZHO,ALB
2,0 days 01:15:37.025000,11,Pit,TSU,13,ALB,GAS
3,0 days 01:15:40.557000,12,Pit,TSU,12,RUS,GAS
4,0 days 01:16:49.545000,12,Pit,TSU,11,GAS,RIC
5,0 days 01:16:53.057000,13,Pit,TSU,10,RIC,STR
6,0 days 01:17:29.953000,13,NaN,TSU,10,ZHO,STR
7,0 days 01:19:18.038000,15,Pit,TSU,9,NOR,STR
8,0 days 01:20:30.188000,16,Pit,TSU,8,MAG,STR
9,0 days 01:21:42.246000,17,Pit,TSU,6,OCO,STR
10,0 days 01:35:24.497000,28,MaybePit,TSU,17,ALO,VET
11,0 days 01:40:17.059000,32,Duplicate,TSU,16,LAT,STR
12,0 days 01:40:19.316000,32,NaN,TSU,16,LAT,STR
13,0 days 01:49:02.203000,39,MaybeOffTrack,TSU,17,VET,ZHO
14,0 days 01:49:39.230000,40,Pit,TSU,16,BOT,ZHO
15,0 days 01:50:51.179000,41,Pit,TSU,15,GAS,ZHO
16,0 days 01:52:03.126000,42,Pit,TSU,14,ALB,RUS
17,0 days 01:54:33.679000,44,MaybePit,TSU,13,NOR,MAG
18,0 days 01:55:39.761000,45,Pit,TSU,12,RIC,ZHO
19,0 days 01:58:21.616000,47,Pit,TSU,16,ZHO,GAS
20,0 days 02:00:22.018000,48,PositionLostTooQuickly,TSU,15,VET,GAS
21,0 days 02:10:58.703000,57,Retired,TSU,16,SAI,ZHO

,Time,LapTime,LapNumber,LapLeader,LapStartTime,PitInTime,PitOutTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime
1100,1:58:03.579,01:15.742,46,48,1:56:47.837,1:58:00.254,NaT,17.710,32.629,25.403,1:57:05.547,1:57:38.176,1:58:03.579
1101,1:59:32.307,01:28.728,47,49,1:58:03.579,NaT,1:58:21.708,35.012,32.084,21.632,1:58:38.591,1:59:10.675,1:59:32.307
1102,2:00:43.008,01:10.701,48,50,1:59:32.307,NaT,NaT,17.637,31.550,21.514,1:59:49.944,2:00:21.494,2:00:43.008
1103,2:01:53.667,01:10.659,49,51,2:00:43.008,NaT,NaT,17.607,31.473,21.579,2:01:00.615,2:01:32.088,2:01:53.667
1104,2:03:03.940,01:10.273,50,52,2:01:53.667,NaT,NaT,17.506,31.304,21.463,2:02:11.173,2:02:42.477,2:03:03.940

,Time,LapNumber,Code,CodePassed,Position,PositionBefore,PositionGained,CodeBehind,CodeAhead
0,0 days 00:00:03.773000,NaN,TSU,NaN,16,NaN,NaN,NaN,NaN
1,0 days 01:02:23.743000,NaN,TSU,ALB,15,16,1.0,ALB,ZHO
2,0 days 01:02:29.106000,NaN,TSU,NaN,16,15,-1.0,VET,ALB
3,0 days 01:03:01.606000,NaN,TSU,PER,15,16,1.0,PER,ALB
4,0 days 01:03:50.038000,2,TSU,ZHO,14,15,1.0,ZHO,ALB
5,0 days 01:03:55.186000,2,TSU,NaN,15,14,-1.0,LAT,ZHO
6,0 days 01:04:00.967000,2,TSU,ZHO,14,15,1.0,ZHO,ALB
7,0 days 01:15:37.025000,11,TSU,ALB,13,14,1.0,ALB,GAS
8,0 days 01:15:40.557000,12,TSU,RUS,12,13,1.0,RUS,GAS
9,0 days 01:16:49.545000,12,TSU,GAS,11,12,1.0,GAS,RIC
10,0 days 01:16:53.057000,13,TSU,RIC,10,11,1.0,RIC,STR
11,0 days 01:17:22.385000,13,TSU,NaN,11,10,-1.0,ALO,ZHO
12,0 days 01:17:29.953000,13,TSU,ZHO,10,11,1.0,ZHO,STR
13,0 days 01:19:18.038000,15,TSU,NOR,9,10,1.0,NOR,STR
14,0 days 01:20:30.188000,16,TSU,MAG,8,9,1.0,MAG,STR
15,0 days 01:21:42.246000,17,TSU,OCO,6,8,2.0,OCO,STR
16,0 days 01:29:11.418000,23,TSU,NaN,7,6,-1.0,ZHO,OCO
17,0 days 01:33:09.310000,26,TSU,NaN,8,7,-1.0,NOR,MAG
18,0 days 01:33:35.681000,26,TSU,NaN,9,8,-1.0,MSC,NOR
19,0 days 01:33:43.283000,26,TSU,NaN,10,9,-1.0,ALO,MSC
20,0 days 01:33:43.994000,26,TSU,NaN,11,10,-1.0,RIC,ALO
21,0 days 01:33:45.115000,26,TSU,NaN,12,11,-1.0,RUS,RIC
22,0 days 01:33:45.611000,26,TSU,NaN,13,12,-1.0,ALB,RUS
23,0 days 01:33:51.152000,27,TSU,NaN,14,13,-1.0,GAS,ALB
24,0 days 01:33:53.172000,27,TSU,NaN,15,14,-1.0,BOT,GAS
25,0 days 01:33:54.813000,27,TSU,NaN,16,15,-1.0,LAT,BOT
26,0 days 01:33:58.476000,27,TSU,NaN,17,16,-1.0,VET,LAT
27,0 days 01:34:01.338000,27,TSU,NaN,18,17,-1.0,ZHO,VET
28,0 days 01:35:24.497000,28,TSU,ALO,17,18,1.0,ALO,VET
29,0 days 01:40:17.059000,32,TSU,LAT,16,17,1.0,LAT,STR
30,0 days 01:40:17.103000,32,TSU,NaN,17,16,-1.0,ALO,LAT
31,0 days 01:40:19.316000,32,TSU,LAT,16,17,1.0,LAT,STR
32,0 days 01:41:43.533000,33,TSU,NaN,17,16,-1.0,ZHO,ALO
33,0 days 01:46:23.170000,37,TSU,NaN,18,17,-1.0,LAT,ZHO
34,0 days 01:49:02.203000,39,TSU,VET,17,18,1.0,VET,ZHO
35,0 days 01:49:39.230000,40,TSU,BOT,16,17,1.0,BOT,ZHO
36,0 days 01:50:51.179000,41,TSU,GAS,15,16,1.0,GAS,ZHO
37,0 days 01:52:03.126000,42,TSU,ALB,14,15,1.0,ALB,RUS
38,0 days 01:54:33.679000,44,TSU,NOR,13,14,1.0,NOR,MAG
39,0 days 01:55:39.761000,45,TSU,RIC,12,13,1.0,RIC,ZHO
40,0 days 01:57:18.333000,46,TSU,NaN,13,12,-1.0,RIC,NOR
41,0 days 01:57:53.750000,46,TSU,NaN,14,13,-1.0,ALB,RIC
42,0 days 01:58:02.336000,46,TSU,NaN,15,14,-1.0,BOT,ALB
43,0 days 01:58:07.106000,47,TSU,NaN,16,15,-1.0,GAS,ZHO
44,0 days 01:58:16.179000,47,TSU,NaN,17,16,-1.0,VET,ZHO
45,0 days 01:58:21.616000,47,TSU,ZHO,16,17,1.0,ZHO,GAS
46,0 days 02:00:22.018000,48,TSU,VET,15,16,1.0,VET,GAS
47,0 days 02:00:22.025000,48,TSU,NaN,16,15,-1.0,VET,GAS
48,0 days 02:07:07.590000,54,TSU,NaN,17,16,-1.0,VET,ZHO
49,0 days 02:10:58.703000,57,TSU,SAI,16,17,1.0,SAI,ZHO
50,0 days 02:22:51.819000,67,TSU,NaN,17,16,-1.0,SAI,VET
51,0 days 02:28:41.405000,NaN,TSU,VET,16,17,1.0,VET,GAS

In [52]:
from scrape.core.position import driver_position_data
from datetime import timedelta
from scrape.core import timing


pos_df = driver_position_data(session.api_path)
overtakes = []


def is_overtake(pos_df, idx, overtaker, overtaken):
    overtaker_pos_df = pos_df[["Time", overtaker]].dropna()

    overtaker_pos = pos_df.iloc[idx][overtaker]
    time = pos_df.iloc[idx]["Time"]

    # 1. is not the first lap
    lap = timing.get_lap_at_time(time, session.laps.pick_driver(overtaker))
    if lap is None or lap.LapNumber == 1:
        return "FIRST_LAP"

    # 2. overtaken driver is not retired

    # 3. overtaken driver is not pitted
    if timing.is_in_pit(time, session.timings.pick_driver(overtaken)):
        return "IN_PIT"

    # 4. overtaken driver is not off track

    # 5. overtaken driver driving slower than 30km/h are considered maybe off track

    # 6. position is maintained for at least 5 seconds
    positions_next_5_seconds = overtaker_pos_df[
        (overtaker_pos_df["Time"] > time)
        & (overtaker_pos_df["Time"] <= time + timedelta(seconds=5))
    ]
    for ii, row in positions_next_5_seconds.iterrows():
        if row[drv] > overtaker_pos:
            return 'LOST_TOO_QUICK'


for idx, row in pos_df[:5].iterrows():
    if idx == 0:
        continue

    time = row["Time"]
    position_changes = row.drop(labels="Time").dropna()

    for drv, pos in position_changes.items():
        previous = pos_df.fillna(method='ffill').iloc[idx - 1][drv] # not idx - 1 but need to be previous known pos.
        if pos < previous:  # position improved

            # now check against the other drivers who's positions changed.  if
            # this driver's position is better run through our "overtake
            # criteria" to see if it was a valid overtake.
            for other_driver, other_driver_pos in position_changes.drop(labels=drv).items():
                print(f'{drv}@{pos} vs {other_driver}@{other_driver_pos}')
                if other_driver_pos > pos:  # this driver has better position, no need to check
                    reason = is_overtake(pos_df, idx, drv, other_driver)
                    overtakes.append(
                        {"Time": time, "Overtaker": drv, "Overtaken": other_driver, "Reason": reason}
                    )
display(pos_df)
display(pd.DataFrame(overtakes))

api            INFO 	Using cached data for driver_position_data

1
20@6.0 vs 31@7.0
2
3@10.0 vs 4@11.0
3
10@13.0 vs 24@14.0
4
31@5.0 vs 11@6.0
31@5.0 vs 20@7.0

,Time,1,16,55,63,11,31,20,44,47,...,3,18,24,10,23,22,6,5,14,77
0,0 days 00:00:03.773000,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
1,0 days 01:02:36.323000,NaN,NaN,NaN,NaN,NaN,7.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0 days 01:02:36.701000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0 days 01:02:37.381000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0 days 01:03:30.941000,NaN,NaN,NaN,NaN,6.0,5.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,0 days 02:23:38.701000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
250,0 days 02:23:44.920000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.0,NaN,16.0,NaN,NaN
251,0 days 02:26:56.858000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,11.0
252,0 days 02:27:15.292000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,NaN,15.0,NaN,NaN
253,0 days 02:28:41.447000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.0,NaN,16.0,NaN,17.0,NaN,NaN

                    Time Overtaker Overtaken     Reason
0 0 days 01:02:36.323000        20        31  FIRST_LAP
1 0 days 01:02:36.701000         3         4  FIRST_LAP
2 0 days 01:02:37.381000        10        24  FIRST_LAP
3 0 days 01:03:30.941000        31        11       None
4 0 days 01:03:30.941000        31        20       None

In [167]:
from scrape.race import get_driver_overtakes
display(get_driver_overtakes(session, "20").query("PassingStatus == 'OK'"))

,Time,LapNumber,Position,DriverNumber,DriverNumberAgainst,PassingStatus
1,0 days 01:04:00.967000,2,14,22,24,OK
6,0 days 01:17:29.953000,13,10,22,24,OK
13,0 days 01:40:19.316000,32,16,22,6,OK

In [133]:
# 01:16:44.35

session.timings.pick_driver(24)[550:600]

,Time,Position,GapToLeader,IntervalToPositionAhead,Retired,DriverNumber,LapNumber,Status,LastSectorSegmentNumber,LastSectorSegmentStatus,RawStatus
32280,0 days 01:16:09.987000,13,+24.735,+0.181,NaN,24,12,NaN,NaN,NaN,NaN
32281,0 days 01:16:10.026000,13,NaN,NaN,NaN,24,12,NaN,2.4,2049.0,NaN
32282,0 days 01:16:17.537000,13,+25.023,+0.323,NaN,24,12,NaN,NaN,NaN,NaN
32283,0 days 01:16:17.680000,13,NaN,NaN,NaN,24,12,NaN,2.5,2048.0,NaN
32284,0 days 01:16:21.791000,13,+25.046,+0.309,NaN,24,12,NaN,NaN,NaN,NaN
32285,0 days 01:16:21.881000,13,NaN,NaN,NaN,24,12,NaN,2.6,2048.0,NaN
32286,0 days 01:16:27.296000,13,+25.424,+0.340,NaN,24,12,NaN,NaN,NaN,NaN
32287,0 days 01:16:27.891000,13,NaN,NaN,NaN,24,12,NaN,2.7,2048.0,NaN
32288,0 days 01:16:31.644000,13,+25.790,+0.511,NaN,24,12,NaN,NaN,NaN,NaN
32289,0 days 01:16:31.712000,13,NaN,NaN,NaN,24,12,NaN,3.1,2048.0,NaN
32290,0 days 01:16:37.012000,13,+25.890,+0.547,NaN,24,12,NaN,NaN,NaN,NaN
32291,0 days 01:16:37.083000,13,NaN,NaN,NaN,24,12,NaN,3.2,2048.0,NaN
32292,0 days 01:16:39.488000,13,+25.882,+0.574,NaN,24,12,NaN,NaN,NaN,NaN
32293,0 days 01:16:39.545000,13,NaN,NaN,NaN,24,12,NaN,3.3,2048.0,NaN
32294,0 days 01:16:42.581000,13,+26.070,+0.544,NaN,24,12,NaN,NaN,NaN,NaN
32295,0 days 01:16:42.628000,13,NaN,NaN,NaN,24,12,NaN,3.4,2048.0,NaN
32296,0 days 01:16:44.019000,13,+26.164,+0.559,NaN,24,12,NaN,NaN,NaN,NaN
32297,0 days 01:16:44.155000,13,NaN,NaN,NaN,24,12,NaN,3.5,2049.0,NaN
32298,0 days 01:16:47.032000,13,+26.302,+0.536,NaN,24,12,NaN,NaN,NaN,NaN
32299,0 days 01:16:47.164000,13,NaN,NaN,NaN,24,12,NaN,3.6,2048.0,NaN
32300,0 days 01:16:50.020000,13,+26.321,+0.421,NaN,24,12,NaN,NaN,NaN,NaN
32301,0 days 01:16:50.102000,13,NaN,NaN,NaN,24,13,NaN,NaN,NaN,NaN
32302,0 days 01:16:50.134000,13,NaN,NaN,NaN,24,13,NaN,3.7,2048.0,NaN
32303,0 days 01:16:53.472000,13,+26.229,NaN,NaN,24,13,NaN,NaN,NaN,NaN
32304,0 days 01:16:53.483000,11,NaN,NaN,NaN,24,13,NaN,NaN,NaN,NaN
32305,0 days 01:16:55.122000,11,+26.273,+0.472,NaN,24,13,NaN,NaN,NaN,NaN
32306,0 days 01:16:55.138000,11,NaN,NaN,NaN,24,13,NaN,1.2,2048.0,NaN
32307,0 days 01:16:59.265000,11,+26.396,+0.463,NaN,24,13,NaN,NaN,NaN,NaN
32308,0 days 01:16:59.371000,11,NaN,NaN,NaN,24,13,NaN,1.3,2048.0,NaN
32309,0 days 01:17:02.302000,11,+26.358,+0.412,NaN,24,13,NaN,NaN,NaN,NaN
32310,0 days 01:17:02.336000,11,NaN,NaN,NaN,24,13,NaN,1.4,2048.0,NaN
32311,0 days 01:17:04.796000,11,+26.271,+0.314,NaN,24,13,NaN,NaN,NaN,NaN
32312,0 days 01:17:04.917000,11,NaN,NaN,NaN,24,13,NaN,1.5,2048.0,NaN
32313,0 days 01:17:07.361000,11,+26.095,+0.172,NaN,24,13,NaN,NaN,NaN,NaN
32314,0 days 01:17:07.728000,11,NaN,NaN,NaN,24,13,NaN,1.6,2048.0,NaN
32315,0 days 01:17:09.642000,11,+26.194,+0.162,NaN,24,13,NaN,NaN,NaN,NaN
32316,0 days 01:17:09.667000,11,NaN,NaN,NaN,24,13,NaN,2.1,2048.0,NaN
32317,0 days 01:17:15.595000,11,+26.595,+0.256,NaN,24,13,NaN,NaN,NaN,NaN
32318,0 days 01:17:15.685000,11,NaN,NaN,NaN,24,13,NaN,2.2,2048.0,NaN
32319,0 days 01:17:20.306000,11,+26.502,+0.117,NaN,24,13,NaN,NaN,NaN,NaN
32320,0 days 01:17:20.417000,11,NaN,NaN,NaN,24,13,NaN,2.3,2049.0,NaN
32321,0 days 01:17:22.385000,10,NaN,NaN,NaN,24,13,NaN,NaN,NaN,NaN
32322,0 days 01:17:22.418000,10,+26.353,+4.110,NaN,24,13,NaN,NaN,NaN,NaN
32323,0 days 01:17:22.497000,10,NaN,NaN,NaN,24,13,NaN,2.4,2049.0,NaN
32324,0 days 01:17:29.953000,11,NaN,NaN,NaN,24,13,NaN,NaN,NaN,NaN
32325,0 days 01:17:30.176000,11,+26.928,+0.205,NaN,24,13,NaN,NaN,NaN,NaN
32326,0 days 01:17:30.261000,11,NaN,NaN,NaN,24,13,NaN,2.5,2048.0,NaN
32327,0 days 01:17:34.400000,11,+26.953,+0.196,NaN,24,13,NaN,NaN,NaN,NaN
32328,0 days 01:17:34.490000,11,NaN,NaN,NaN,24,13,NaN,2.6,2048.0,NaN
32329,0 days 01:17:40.147000,11,+27.589,+0.430,NaN,24,13,NaN,NaN,NaN,NaN

In [41]:
display(session.session_status)

                    Time     Status
0 0 days 00:00:08.046000   Inactive
1 0 days 01:02:13.798000    Started
2 0 days 02:26:38.367000   Finished
3 0 days 02:31:27.396000  Finalised
4 0 days 02:31:27.396000       Ends